
@use 'sass:color';

@use '@assets/styles/abstracts/colors' as *;
@use '@assets/styles/abstracts/keyframes' as *;

.button, .pin, .tile {

    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    font-size: xx-large;
    color: $foreground-color;

    transition-property:
        transform,
        box-shadow,
        background-color,
        color;
    transition-duration: .3s;

    svg {

        transition: filter .3s;
    }

    cursor: pointer;

    &--shakeHorizontally {

        animation-name: shakeHorizontally;
    }
    
    &--disabled {

        animation-duration: .3s;
    }
}

.button {

    height: 4.5rem;
    width: 4.5rem;

    background-color: $button-color;
    border-radius: 1rem;

    svg {

        height: 50%;
        width: 50%;
    }

    &:hover {

        transform: translateY(-.2rem);
        box-shadow: .2rem .2rem .5rem $shadow-color;

        svg {

            filter: drop-shadow(.12rem .12rem .15rem $shadow-color);
        }
    }

    &:active {

        transform: translateY(-.1rem) scale(.95);
    }

    &--inactive {

        background-color: color.mix($button-color, $shadow-color, 50%);
        color: color.mix($foreground-color, $shadow-color, 85%);

        cursor: not-allowed;

        &:hover {

            transform: initial;
            box-shadow: initial;

            svg {

                filter: initial;
            }
        }
    }
}

.pin {

    background-color: transparent;

    filter: drop-shadow(.15rem .15rem .125rem $outline-color);

    &:hover {

        transform: scale(1.075);
    }

    &:active {

        transform: scale(1);
    }
}

.tile {

    background-color: transparent;
}