
@use '../../styles/abstracts/_frame' as *;

.main {

    height: 100%;
    width: 100%;

    gap: 10vmin;

    & > * {

        flex-grow: 1;
    }
}

.display {

    &__sidePanel {

        width: 10vmin;
        margin-bottom: 20vmin;
    }
    
    &__frame {
        
        flex-direction: column;
        flex-grow: 1;
    }

    &__canvas {

        flex-grow: 1;

        @include border;
    }

    &__bottomPanel {

        height: 20vmin;
    }
}

.workspaceFrame {

    .workspace {

        flex-grow: 1;
    }
    
    &__nav {

        width: 10vmin;
    }

    @include border(relative);
}
